packages:
  yum:
    amazon-cloudwatch-agent: []

files:
  /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json:
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "cwagent"
        },
        "metrics": {
          "metrics_collected": {
            "mem": {
              "measurement": [
                "mem_used_percent"
              ]
            },
            "swap": {
              "measurement": [
                "swap_used_percent"
              ]
            }
          }
        }
      }

commands:
  01_stop_existing_cloudwatch_agent:
    command: |
      if pgrep amazon-cloudwatch-agent; then
        /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a stop
      fi
  02_start_cloudwatch_agent:
    command: |
      /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json
    ignoreErrors: true
